.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
   
  
}

#portfolio{
    
        height: 800px;
    
}
.portfolio_item{
    position: relative;
    overflow: hidden;
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    height: 295px;
}

.portfolio_item h3{
    color: white;
    margin: 0.5rem 0 0rem;
}
.portfolio_item img{
    width: 100%;
    height: 150px;
    border-radius: 1.5rem;
 
}
.portfolio_item .about_button{
    position: absolute;
    bottom: -50px;
}

.portfolio_item:hover .about_button {
    bottom: 10px;
}



.flex .demo{
    color:var(--color--primary);
    background-color: white;
    position: absolute;
    left: 125px;
}
.flex .demo:hover{
    color: white;
    background-color:var(--color--primary);
   
}

.wb{
    margin-top: 10px;
    color: var();
}

@media screen and (max-width:1024px) {
    
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
  }

@media screen and (max-width:600px) {
    .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
     
    }
  }
  
 