.nav_list{
    display: flex;
}
.header_nav{
    display: flex;
    padding-top: 25px;
}
.nav_logo{
    margin-right: 350px;
}
.nav_link{
    margin: 0 25px;
    color: rgb(0, 0, 0);
}
 .acctive{
    color: rgb(139, 2, 180);
}
.nav_link:hover{
    color: rgb(139, 2, 180);
}