.aboutSection {
  height: 600px;
}

.info h1 {
  font-size: 1.6rem;
}

.about_button {
  display: inline-block;
  margin: 0 30px;
  color: white;
  padding: 15px;

  font-family: 'Poppins', sans-serif;
}

.about_container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
  align-items: center;
  column-gap: 4rem;
}

.about_info {
  display: flex;
}

.aboutMe_title {
  font-size: 25px;

}

.about_subtitle {
  color: black;
  position: relative;
  bottom: 27px;

}

.about_img {
  overflow: hidden;
  transform: rotate(10deg);
  width: 350px;
  border-radius: 1.5rem;
  justify-self: center;

}

.about_img:hover {
  transform: rotate(0deg);

}

.about_me {
  position: relative;
  right: 110px;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  display: grid;
  place-items: center;
  background: linear-gradient(45deg, transparent, var(--color--primary), transparent);
}

.about_info {
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-bottom: 50px;
}

.about_box {
  background-color: var(--color-variant);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  text-align: center;
  margin-right: 10px;
  padding: 3rem;
  border-color: var(--color--primary)
}

.about_box:hover {
  color: var(--color-white);
  background-color: var(--color--primary);
  border: 3px solid var(--color-white);
  border-color: var(--color-variant)
}


.about_box:hover .about_icon {
  color: var(--color-white);
}


.about_box:hover h5 {
  color: var(--color-white);
}

.about_icon {
  color: var(--color--primary);
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.about_box h3 {
  font-size: 0.95rem;
}


.about_box h5 {
  width: 100px;
  margin-top: 5px;
  font-size: 0.7rem;
  color: var(--color-light);
}

.about_container p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
}


@media screen and (max-width:1024px) {
  .about_container {

    grid-template-columns: 1fr;
    gap: 0;
  }

  .about_me {
    width: 35%;
    margin: 2rem auto 4rem;
  }

  .aboutSection {
    margin-top: 250px;
    height: 1050px;
  }



}

@media screen and (max-width:600px) {
  .about_container {

    grid-template-columns: 1fr;
    gap: 0;
  }

  .about_me {
    width: 25%;

  }

  .aboutSection {
    margin-top: 250px;
    height: 1050px;
  }

  .info_p {

      text-align: justify; /* Выравнивание текста по ширине */
      max-width: 850px;
      padding: 20px;/* Центрирование блока текста на странице */
  }
  .about_info {
    margin-left: 120px;
  }


}