nav{
    border: 1px solid var(--color--primary);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
   
    font-size: 1.1rem;
}
nav a:hover{
    color: var(--color-white) ;
    background: rgba(163, 7, 253, 0.3);
}

nav a.active{

    background: rgba(157, 0, 248, 0.5);
    color: var(--color-white) ;
}

  .a{
        width: 30px;
        height: 20px;
    }


    
