@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prosto+One&display=swap');
:root {

    --header-height: 3rem;

    

}
html{
    scroll-behavior: smooth;
}
.about_button{
    display: inline-block;
   background-color: blueviolet;
   color: white;
   padding: 15px ;
   border-radius: 1rem;
   margin-top: 25px;
   font-family: 'Poppins', sans-serif;
}
.about_info{
    font-family: 'Poppins', sans-serif;
    margin-top: 15px;
  width: 447px;
  
}
.container{
    width: 768px;
    
    margin: 0 auto;
    }


    

.nav_list{
    display: flex;
    width: 300px;
}

.nav{
    display: flex;
    padding-top: 25px;
}
.nav_logo{
    margin-right: 350px;
}
.nav_link{
    margin: 0 25px;
   
    color: rgb(0, 0, 0);
}
 .acctive{
    
   
    color: rgb(139, 2, 180);
}


.nav_link:hover{
   
    color: rgb(139, 2, 180);
}
/* 
======================================================================================
 */


.About_cont{
    display: flex;
}

.About_img{
    margin-left: 150px;
    margin-top: 150px;
}


.about_title{
    font-family: 'Poppins', sans-serif;
    width: 447px;


font-weight: 700;
font-size: 72px;
line-height: 82px;
display: flex;
align-items: center;
}

.About_text{
    margin-top: 190px;
}

.front{
    font-family: 'Poppins', sans-serif;
    color:gray
}
