@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Prosto+One&display=swap'); 

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
html{
  scroll-behavior: smooth;
}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none; }
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


:root {
   --color-bg: #000007;
   --color-bg-variant: #c19fee;
  --color--primary: rgb(139, 2, 180);
  --color-a:rgb(139, 2, 180);
  --color-variant: rgba(243, 229, 247, 0.4);
  --color-light: rgba(58, 56, 56, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 75%;
  --container-width-md:86%;
  --container-width-sm:90%;
    --color-white: #fff; 
    --color: black;
}
/*--------------------*/


::-webkit-scrollbar {
  display: none;
}

body{
  font-family: 'Poppins', sans-serif;
  background: var(--color-white);
  color: var(--color-bg)
}

section > h2, section >h5{
  text-align: center ;

}

section > h2{
  color: var(--color--primary);
  margin-bottom: 3rem;
  font-size: 25px;
}


.text-light{
  color: var(--color-light);
}

a{
  color: var(--color-a);
  transition: all 400ms ease;
 
}
a:hover{
  color: black;
}

.btn{
  width: max-content;
  display: inline-block;
  color: var(--color-white);
  background-color: var(--color--primary) ;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color--primary);
  transition:all 400ms ease ;
  margin-right: 25px;
}
.btn:hover{
  background-color: var(--color-white);
  color: var(--color--primary);

}

.btn-primary{
  background-color: var(--color-white);
  color: var(--color--primary);
  padding: 15px ;
}

.btn-primary:hover{
  background-color: var(--color--primary);
  color: var(--color-white);

}



img{
  display: block;

  object-fit: cover;
}

@media screen and (max-width:600px) {
  .container{
    width: var(--container-width-sm);
  }



  section > h2 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width:1024px) {
  .container{
    width: var(--container-width-md);
  }
  section {
    margin-bottom: 6rem;
   
  }
}

.container{

  width: var(--container-width-lg);
  margin: 0 auto;
}

